// 1像素的下边框
border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    border-top: 1px solid $color
    content:''
border-none()
  &:after
    dispaly:none
//不同分辨率下的背景图
bg-image($url)
  background-image: url($url+"@2x.png")
  @media only screen and (-webkit-min-device-pixel-ratio:3)
    background-image: url($url+"@3x.png")